@using EVEAbacus.Domain.Models.Calculator
@using System.Diagnostics
@if (CalculatorService.ManufBatch?.ProductionRouting != null)
{
    <MudTable Items="@CalculatorService.ManufBatch.ProductionRouting"
              Hover="true" Breakpoint="Breakpoint.Xxl" LoadingProgressColor="Color.Info"
              Dense="true">
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<ProductionRoute, object>(x=>x.BlueprintName ?? string.Empty)">Blueprint Name</MudTableSortLabel></MudTh>
            <MudTh>Qty</MudTh>
            <MudTh>Copies</MudTh>
            <MudTh>Runs</MudTh>
            <MudTh>Produced</MudTh>
            <MudTh>ME</MudTh>
            <MudTh>TE</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@(context.BlueprintName ?? "N/A")</MudTd>
            <MudTd DataLabel="Name">@context.Requisitioned</MudTd>
            <MudTd DataLabel="Name">@(context.Order?.Copies ?? 0)</MudTd>
            <MudTd DataLabel="Name">@(context.Order?.Runs ?? 0)</MudTd>
            <MudTd DataLabel="Name">@context.Produced</MudTd>
            <MudTd DataLabel="Name">@(context.Order?.ME ?? 0)</MudTd>
            <MudTd DataLabel="Name">@(context.Order?.TE ?? 0)</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
} else
{
    <p>Error: No build orders found.</p>
}

@code {
    [CascadingParameter] required public CalculatorService CalculatorService { get; set; }
}
